@import "../variables.scss";

#URLFormMain {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: #2e294e;
  background-size: 100px 100px;
  background-image: radial-gradient($primary-color 6px, transparent 6px);
  h1 {
    color: $primary-color;
  }
}
.Form {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 12px solid black;
  background: black;
  color: $primary-color;
  input {
    height: 20px;
    width: 20%;
    // border: 4px solid $primary-color;
    // border-radius: 6px;
  }
}
