@import "./variables.scss";

.alert_box {
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-size: 1.2rem;
  font-family: $alert_font_family;
  color: black;
  text-align: center;
  background: $primary_color;
  width: 100%;

  .copy_link {
    text-decoration: underline;
    .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      /* Position the tooltip */
      position: absolute;
      z-index: 1;
      top: -5px;
      left: 105%;
      &:hover {
        visibility: visible;
      }
    }
  }
}
.hidden {
  display: none;
}
