@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap");

$primary_color: #ffd400;
$secondary_color: #2e294e;
$font_family: "knewave", cursive;
$alt_font_family: "Lexend Exa", sans-serif;
$alert_font_family: "Noto Serif";
$breakpoint_tablet: 768px;
